@font-face {
  font-family: 'Marr Sans Web';
  src: url('../static/fonts/MarrSansWeb-Medium.woff2') format('woff2'),
    url('../static/fonts/MarrSansWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
